<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AGNES.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AGNES.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AGNES.MySettings.AGNES" connectionString="Data Source=compasspowerbi;Initial Catalog=AGNES;Persist Security Info=True;User ID=AGNESApplication;Password=Fluoxetine04!" providerName="System.Data.SqlClient" />
    <add name="BGCRMEntity" connectionString="metadata=res://*/Entities.BusinessGroupCRM.csdl|res://*/Entities.BusinessGroupCRM.ssdl|res://*/Entities.BusinessGroupCRM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=compasspowerbi;initial catalog=AGNES;persist security info=True;user id=AGNESApplication;password=Fluoxetine04!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WCREntities" connectionString="metadata=res://*/Entities.WCRModule.csdl|res://*/Entities.WCRModule.ssdl|res://*/Entities.WCRModule.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=compasspowerbi;initial catalog=AGNES;persist security info=True;user id=AGNESApplication;password=Fluoxetine04!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SharedDataEntity" connectionString="metadata=res://*/Entities.SharedData.csdl|res://*/Entities.SharedData.ssdl|res://*/Entities.SharedData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=compasspowerbi;initial catalog=BI;persist security info=True;user id=AGNESApplication;password=Fluoxetine04!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AGNESSharedData" connectionString="metadata=res://*/Entities.AGNESSharedData.csdl|res://*/Entities.AGNESSharedData.ssdl|res://*/Entities.AGNESSharedData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=compasspowerbi;initial catalog=AGNES;integrated security=True; user id=AGNESApplication;password=Fluoxetine04!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BIEntities" connectionString="metadata=res://*/Entities.GeneralSharedData.csdl|res://*/Entities.GeneralSharedData.ssdl|res://*/Entities.GeneralSharedData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=compasspowerbi;initial catalog=BI;persist security info=True;user id=AGNESApplication;password=Fluoxetine04!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BudgetEntity" connectionString="metadata=res://*/Entities.BudgetModel.csdl|res://*/Entities.BudgetModel.ssdl|res://*/Entities.BudgetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=compasspowerbi;initial catalog=AGNES;persist security info=True;user id=AGNESApplication;password=Fluoxetine04!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FlashActualsEntity" connectionString="metadata=res://*/Entities.FlashActualsModel.csdl|res://*/Entities.FlashActualsModel.ssdl|res://*/Entities.FlashActualsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=compasspowerbi;initial catalog=AGNES;persist security info=True;user id=AGNESApplication;password=Fluoxetine04!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ForecastEntity" connectionString="metadata=res://*/Entities.FlashForecastModel.csdl|res://*/Entities.FlashForecastModel.ssdl|res://*/Entities.FlashForecastModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=compasspowerbi;initial catalog=AGNES;persist security info=True;user id=AGNESApplication;password=Fluoxetine04!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AGNESSharedDataEntity" connectionString="metadata=res://*/Entities.AgnesSharedDataModel.csdl|res://*/Entities.AgnesSharedDataModel.ssdl|res://*/Entities.AgnesSharedDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=compasspowerbi;initial catalog=AGNES;persist security info=True;user id=AGNESApplication;password=Fluoxetine04!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TrainingEntities" connectionString="metadata=res://*/Entities.TrainingModel.csdl|res://*/Entities.TrainingModel.ssdl|res://*/Entities.TrainingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=compasspowerbi;initial catalog=AGNES;persist security info=True;user id=AGNESApplication;password=Fluoxetine04!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VendorEntity" connectionString="metadata=res://*/Entities.VendorModel.csdl|res://*/Entities.VendorModel.ssdl|res://*/Entities.VendorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=compasspowerbi;initial catalog=AGNES;persist security info=True;user id=AGNESApplication;password=Fluoxetine04!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AGNESEntity" connectionString="metadata=res://*/Entities.AGNESModel.csdl|res://*/Entities.AGNESModel.ssdl|res://*/Entities.AGNESModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=compasspowerbi;initial catalog=AGNES;persist security info=True;user id=AGNESApplication;password=Fluoxetine04!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BIEntity" connectionString="metadata=res://*/Entities.BIModel.csdl|res://*/Entities.BIModel.ssdl|res://*/Entities.BIModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=compasspowerbi;initial catalog=BI;persist security info=True;user id=AGNESApplication;password=Fluoxetine04!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <userSettings>
    <AGNES.MySettings>
      <setting name="UserShortName" serializeAs="String">
        <value />
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="UserID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UserLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SessionId" serializeAs="String">
        <value>0</value>
      </setting>
    </AGNES.MySettings>
  </userSettings>
  <applicationSettings>
    <AGNES.MySettings>
      <setting name="WASalesTax" serializeAs="String">
        <value>0.1</value>
      </setting>
    </AGNES.MySettings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>